body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('background_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

#divison1{
    text-align: right;
    padding: 50px 50px 10px 10px;
}

#my_info{
    display: inline-block;
    color:beige;
    padding: 10px 15px ;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230,230,230,0.3);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.4s ease;
}

#my_info:hover{
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border: 2px solid white; 
    transform: scale(1.2);
}

#contact_details{
    display: inline-block;
    color:beige;
    padding: 10px 15px ;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230,230,230,0.3);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.4s ease;
}

#contact_details:hover{
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border: 2px solid white; 
    transform: scale(1.2);
}


#resume{
    display: inline-block;
    color:beige;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230,230,230,0.3);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.4s ease;
}

#resume:hover{
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border: 2px solid white; 
    transform: scale(1.2);
}

#ed_info{
    display: inline-block;
    color:beige;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230,230,230,0.3);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

#ed_info:hover{
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border: 2px solid white; 
    transform: scale(1.2);
}

#project_info {
    display: inline-block;
    color: beige;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230, 230, 230, 0.3);
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

#project_info:hover {
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border: 2px solid white; 
    transform: scale(1.2);
}



#divison2{
    text-align:left;
    position:relative;
    top: 30px;
    padding-left: 20%;
    padding-top: 5%;
}


.description1{
    color:white;
    font-size: 3rem;
    font-weight: 300;
}

#des1id1{
    color:white;
    font-size:2rem;
    font-weight:200;
    font-style: italic;
    margin-bottom: 3px;
}

#des1id2{
    color:white;
    font-size:1.5rem;
    font-weight:bold;

}


#des1id3{
    color:white;
    font-size:2.6rem;
    font-weight:250;
    font-style: italic;
}


#description2{
    color:white;
    font-size: 1.5rem;
    font-weight: 200;
}

#description3{
    color:white;
    font-size: 1.5rem;
    font-weight: 200;
}

#description4{
    color:white;
    font-size: 1.5rem;
    font-weight: 200;
}

#projects {
    display: inline-block; 
    color: beige;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(230, 230, 230, 0.125);
    border: 0px solid white;
    border-radius: 20%;
    margin: 10px;
    transition: all 0.4s ease; 
}

#projects:hover {
    color: white;
    background-color: rgba(82, 170, 218, 0.3);
    border-color: rgba(82, 170, 218, 0.5);
    border-width: 1px; 
    border-radius: 50%; 
    transform: scale(1.2); 
}











